@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto&display=swap');

@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #010202;
  --white-color: #FFFFFF;

  --card-color: #1A1B1B;

  --status-low-color: #F14B4B;
  --status-medium-color: #F1AF4B;
  --status-high-color: #73A011;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--white-color);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: var(--background-color);
}